@page "/auth/access-denied"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
<div class="alert alert-danger">
    <strong>Access Denied !</strong>
    
</div>
