@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<MudThemeProvider Theme="MyCustomTheme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="container-fluid">
    <div class="row">

        <div class="col-12 px-1 ">

            <MudLayout>

                <CascadingAuthenticationState>
                    <AuthorizeView>
                        <Authorized>
                            <BlazorAppSamsar.Components.Components.MenuAuth />
                        </Authorized>
                        <NotAuthorized>
                            <BlazorAppSamsar.Components.Components.Menu />
                        </NotAuthorized>
                    </AuthorizeView>
                </CascadingAuthenticationState>
               
                @* </div> *@
                @* <div class="row">

        <div class="col-12 px-1 mx-auto">
     *@        <MudMainContent>
                    @Body
                </MudMainContent>
                @*     </div>
        
    </div>
     *@
            </MudLayout>

        </div>
    </div>

</div>

@code {
    private MudTheme MyCustomTheme = new MudTheme()
    {
        Typography = new Typography()
        {
            Default = new DefaultTypography()
            {
                FontFamily = new[] { "iransans", "Helvetica", "Arial", "sans-serif" }
            },
            // You can also customize specific typography elements like H1, H2, etc.
            // H1 = new H1Typography() { FontFamily = new[] { "AnotherCustomFont", "serif" } }
        }
    };
}